node_modules/

workflows/*
!/workflows/converted_workflows_here
!/workflows/default_comfyui_workflow.json
!/workflows/default_comfyui_workflow.meta
!/workflows/flux_floxy.json
!/workflows/flux_floxy.meta
!/workflows/Kontext.json
!/workflows/Kontext.meta
!/workflows/Kontext Stitch.json
!/workflows/Kontext Stitch.meta
!/workflows/Kotext Chain.json
!/workflows/Kotext Chain.meta
!/workflows/SUPIR Floxy.json
!/workflows/SUPIR Floxy.meta

/config/default.json
dist/

# Jest cache and coverage
.jest-cache/
coverage/
*.tsbuildinfo