node_modules/

workflows/*
!/workflows/converted_workflows_here
!/workflows/default_comfyui_workflow.json
!/workflows/default_comfyui_workflow.meta

/config/default.json
dist/

# Jest cache and coverage
.jest-cache/
coverage/
*.tsbuildinfo